@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

.container{
    width: 100%;
    height: 97vh;
    /* background-color: red; */
    display: flex;
}

.side-menubar{
    display: block;
    width: 15%;
    background-color: #1C64A3;
    margin-right: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sm-logo{
    height: 7vh;
    padding: 10px 25px;
    font-family: Roboto, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.side-menu{
    margin-left: 10px;
    height: 80vh;
}

.side-menu a{
    padding: 15px 25px;
    display: block;
    text-decoration: none;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.side-menu a i{
    padding-right: 15px;
}

.side-menu a:hover{
    background-color: white;
    border-radius: 30px 0px 0px 30px;
    color: #1C64A3;
}

.dropdown-container {
    display: none;
    padding-left: 8px;
  }
  
  .fa-caret-down {
    float: right;
    padding-right: 8px;
  }

.copyright{
    margin: 0;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 30px;
    color: white;
}

.copyright p{
    margin: 0;
}

.content{
    width: 85%;
    /* background-color: green; */
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.content-1{
    /* background-color: red; */
    max-height: 50vh;
    display: flex;
    align-items: center;
    padding-top: 30px;
}

.total-indicator{
    font-family: Roboto, sans-serif;
    background-color: #1C64A3;
    color: white;
    width: 15vw;
    height: 15vh;
    display: block;
    margin: 0px 30px;
    padding: 0px 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.content-title{
    padding: 20px 30px;
    /* width: 100%; */
    height: 50px;
    display: flex;
    align-items: center;
    /* background-color: red; */
}

.content-title h3{
    font-family: Roboto, sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: #3B4249;
}

.border{
    padding: 10px 30px;
    /* background-color: yellow; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.table{
    width: 100%;
    border-collapse: collapse;
}

.table td, .table th{
    font-family: Roboto, sans-serif;
    padding: 12px 15px;
    border: 1px solid #ddd;
    text-align: center;
    font-size: 16px;
}

.table th{
    background-color: #1C64A3;
    color: #ffffff;
}

.table tbody tr:nth-child(even){
    background-color: #f5f5f5;
}

.crud-btn{
    background-color: #1C64A3;
    color: white;
    cursor: pointer;
    padding: 5px;
    margin: 0px 10px;
}

.crud-btn:hover{
    background-color: #003f86;
}

.action{
    width: 100px;
}


